

@font-face {
  font-family: 'kiran';
  src: url('/fonts/kiran.ttf');
}

h1, h2 {
	color: #ffffff;
}

h4 {

   font-family:  'kiran', 'Helvetica';
       font-size: 2em;
       font-weight: 100;
       color:#000; 
       text-align: center;

}

.about {
	 font-family:  'kiran', 'Helvetica';
       font-size: 1.5em;
       font-weight: 100;
       color:#fff; 
       text-align: center;

}


img.jewel {
 width: 15.62em;
 height: 15.62em;
}

.container{
	width: 1000px;
	margin: 10px auto;
}

.diamond {
  margin: 0 auto;
  
   border: 1px solid #ccc;
    background: #ffd700;
}

#menu-wrap {
  margin: 0 auto;
}